fastapi
uvicorn
sqlalchemy
python-multipart
mysql-connector-python
spacy
langchain>=0.2.12,<0.3.0
sentence_transformers
openai
requests
pydantic
python-dotenv
streamlit
streamlit-toggle-switch
sqlparse
nltk